{% extends "emails/base.njk" %}

{% block content %}
<h2>Reset Your Password</h2>

<p>Hi {{ name | default("there") }},</p>

<p>You requested to reset your password for your FinAnalysis account. Use the code below to set a new password:</p>

<div class="code">{{ otp }}</div>

<p>This code will expire in <strong>15 minutes</strong>. Enter it in the app to set your new password.</p>

<div class="info-box">
    <p><strong>Security Tip:</strong> If you didn't request a password reset, please ignore this email or contact support immediately.</</p>
</div>

<p>If you didn't request this, please ignore this email or contact support if you have concerns.</{% endblock %}